name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/upload-artifact@v4

      - name: Set up Java
        uses: actions/upload-artifact@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: waterflow-apk
          path: app/build/outputs/apk/debug/app-debug.apk
